* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed';
    background-color: #000000;
    color: #fcfffd;
    max-width: 1500px;
    margin: 40px auto;
}